@font-face {
    font-family: 'Transforma Sans_Bold';
    src: url('TransformaSans_Trial-Bold.woff2') format('woff2'),
        url('TransformaSans_Trial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transforma Mix_Bold';
    src: url('TransformaMix_Trial-SemiBold.woff2') format('woff2'),
        url('TransformaMix_Trial-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transforma Mix_Regular';
    src: url('TransformaMix_Trial-Regular.woff2') format('woff2'),
        url('TransformaMix_Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transforma Sans_Regular';
    src: url('TransformaSans_Trial-Regular.woff2') format('woff2'),
        url('TransformaSans_Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

