@font-face {
    font-family: 'Transforma Sans_Bold';
    src: url('../../fonts/TransformaSans_Trial-Bold.woff') format('woff2'),
        url('../../fonts/TransformaSans_Trial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transforma Mix_Bold';
    src: url('../../fonts/TransformaMix_Trial-SemiBold.woff2') format('woff2'),
        url('../../fonts/TransformaMix_Trial-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transforma Mix_Regular';
    src: url('../../fonts/TransformaMix_Trial-Regular.woff2') format('woff2'),
        url('../../fonts/TransformaMix_Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transforma Sans_Regular';
    src: url('../../fonts/TransformaSans_Trial-Regular.woff2') format('woff2'),
        url('../../fonts/TransformaSans_Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --yellow: #FFE817;
    --purple: #4D0BAD;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: content-box;
}

body{
    font-family: 'Transforma Sans_Regular';
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    transition: grid-template-columns 300ms ease-in-out;
}
img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.nav-list{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--purple);
    position: sticky;
    top: 0;
    align-self: start;
    padding-top: 25%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.nav-list.close{
    transform: translateX(-100%);
}

.nav-list ul{
    list-style: none;
}

.nav-list > ul > li:first-child{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.nav-list ul li{
    margin: 10px 0;
}

.nav-list img{
    height: 14px;
    margin-right: 5px;
}

.nav-list a, .nav-list .dropdown, li{
    border-radius: .5em;
    text-decoration: none;
    color: var(--white);
    
}
.head{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-btn,.add-btn{
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: baseline;
}
.dropdown-btn img{
    width: 16px;
}

.nav-list .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    > div{
        overflow: hidden;
    }
}
.nav-list .sub-menu.showw{
    grid-template-rows: 1fr;
}

.desplegable{
    display: block;
    top: 5%;
    left: 1%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
    position: fixed;
    z-index: 200;
    cursor: pointer;
}

.bar{
    top: 3px;
    left: 1%;
    background: var(--purple);
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
    position: absolute;
}
#bar2{
    top: 11px;
}
#bar3{
    top: 19px;
}

.desplegable.open #bar1{
    background-color: #FFE817;
    transform: rotate(45deg) translate(6px,5px);
}
.desplegable.open #bar2{
    opacity: 0;
}
.desplegable.open #bar3{
    background-color: #FFE817;
    transform: rotate(-45deg) translate(6px,-5px);
}

/* MAIN */
main {
    flex: 1;
    padding: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.sidebar-closed main {
    transform: translateX(-200px);
}